.button {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  height: 40px;
  padding: 8px 15px;
  border:none;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.button-blue {
  background-color: var(--blue);
  color: var(--white);
}

.button-red {
  background-color: var(--red);
  color: var(--white);
}

.button-white {
  background-color: var(--white);
  color: var(--red);
  border: 1px solid var(--red);
}

.trash {
  margin-right: 8px;
}