* {
  --background-color: #F5F5F5;
  --gray-80white: #F9F9F9;
  --gray-60white: #DBDADA;
  --gray-25white: #F2F2F2;
  --gray-20white: #999999;
  --black-light: #353535;
  --white: #FFFFFF;
  --red: #E31243;
  --green: #06C270;
  --blue: #128BE3;
  --orange: #FF8800;
}